# http://docs.travis-ci.com/user/getting-started/
# http://docs.travis-ci.com/user/languages/rust/
# http://www.rust-ci.org/help/

env:
  global:
    - secure: Anis9kdBmAT5iocg3aL7HQzT6R9aVhEgjt/7h/tcuYibtwOsXzXi+zbj6ZKrETTtk/STWdSWcYnLeiMkKB4PN7EbseO4BQpR6P7wSRoksOWj8l3U6mQ75dmp8OExoc4C/l0sU0dogCPRvrq/HllGLQXMzGGdcM0ssyaK/DgKDd0=

language: rust
rust:
  - stable
  - beta
  - nightly

script:
- cargo test
- cargo doc

after_script:
- mv target/doc doc
- curl http://www.rust-ci.org/artifacts/put?t=$RUSTCI_TOKEN | sh
